*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

.container {
  width: 80%;
  height: 100%;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.slogan {
  font-size: 26px;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
  color: #FFF;
}
.slogan::after {
  content: "";
  position: absolute;
  left: calc(50% - 140px);
  bottom: -10px;
  width: 0;
  height: 3px;
  border-left: solid 100px #4395f3;
  border-right: solid 180px #FFF;
}

.form-control-item {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.form-control-item.form-control-mixed {
  position: relative;
}
.form-control-item.form-control-mixed.after .form-control {
  padding-right: 60px;
}
.form-control-item.form-control-mixed.after .form-control-append {
  right: -1px;
}
.form-control-item.form-control-mixed.after .form-control-append .button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.form-control-item.form-control-mixed.before .form-control {
  padding-left: 60px;
}
.form-control-item.form-control-mixed.before .form-control-append {
  left: -1px;
}
.form-control-item.form-control-mixed.before .form-control-append .button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form-control-item .form-control-append {
  position: absolute;
  top: 0;
  height: 100%;
}
.form-control-item .form-control-append button {
  height: 100%;
  display: inline-block;
}
.form-control-item > .form-control {
  height: 40px;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: solid 0px;
  outline: 0;
}

.button {
  height: 40px;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: solid 0px;
  outline: 0;
}
.button.primary {
  color: #FFF;
  background-color: #ca43f3;
}
.button.primary:hover {
  background-color: #ac2bd3;
}
.button.check {
  color: #FFF;
  background-color: #e93636;
}
.button.check:hover {
  background-color: #c51e1e;
}

.footer {
  background: #fff;
  padding: 50px 0;
  text-align: right;
}

.Accrodion {
  margin: 20px auto;
}
.Accrodion .tab {
  border: 1px solid #d38841;
  border-bottom-width: 0px;
}
.Accrodion .tab:last-child {
  border-bottom-width: 1px;
}
.Accrodion .tab .tab-content {
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
  display: none;
}
.Accrodion .tab > label {
  display: flex;
  padding: 10px;
  color: #fff;
  background-color: #e6984f;
  font-size: 20px;
  font-weight: 300;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  justify-content: space-between;
}
.Accrodion .tab > label .close-icon {
  display: none;
}
.Accrodion .tab > label:hover {
  background-color: #f3aa66;
}
.Accrodion .tab > .tab-switch {
  display: none;
}
.Accrodion .tab > .tab-switch:checked ~ label .open-icon {
  display: none;
}
.Accrodion .tab > .tab-switch:checked ~ label .close-icon {
  display: block;
}
.Accrodion .tab > .tab-switch:checked ~ .tab-content {
  display: block;
}

h2 {
  display: flex;
  justify-content: center;
  margin: 20px;
}/*# sourceMappingURL=Accrodion.css.map */