.mobile-icon {
        position: relative;
        display: none;
        flex-direction: column;
        cursor: pointer;
    
        >span {
            display: inline-block;
            width: 30px;
            height: 5px;
            background: #000;
            margin-bottom: 5px;
            transition-property: background-color transform;
            transition-duration: 0.5s;
    
            &:last-child {
                margin-bottom: 0;
            }
        }
    
        &:hover {
            >span {
                background: rgb(177, 11, 11);
            }
        }
    }

    .mobile-switch {
        display:none;
    }
    
    .mobile-switch:checked {
        
        ~.mobile-icon {
           
            >span {
                background:rgb(58, 56, 56);

                &:first-child {
                    transform: rotate(225deg);
                    position:absolute;
                }
                &:last-child {
                    transform:rotaTe(315deg);
                }
                &:nth-child(2) {
                    display:none;
                }
            }
        }
    }



// 切換三、X方法2
// .mobile-icon {
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     cursor: pointer;

//     >span {
//         display: inline-block;
//         width: 30px;
//         height: 5px;
//         background: #000;
//         margin-bottom: 5px;
//         transition-property: background-color;
//         transition-duration: 0.5s;

//         &:last-child {
//             margin-bottom: 0;
//         }
//     }

//     &:hover {
//         >span {
//             background: rgb(177, 11, 11);
//         }
//     }
// }

// .mobile-icon-X {
//     cursor: pointer;
//     display:none;

//      >span {
//         display: inline-block;
//         width: 30px;
//         height: 5px;
//         background: #000;
//         margin-bottom: 5px;
//         transition-property: background-color;
//         transition-duration: 0.5s;

//      }

//     .S1 {
//         transform: rotate(45deg);
//         background: RED;
//     }
//     .S2 {
//         transform: rotate(135deg);
//         background: rgb(255, 0, 0);
//         position:absolute;
//     }

     
//     &:hover {
//         >span {
//             background: rgb(177, 11, 11);
//         }
//     }
// }

// .mobile-switch {
//     display:none;
// }

// .mobile-switch:checked {
    
//     ~label {
//         &.mobile-icon {
//         display:none;
//         }
//         &.mobile-icon-X {
//             position: relative;
//             display: flex;
//             flex-direction: column;
//             margin-top:6px;
//         }
//     }
// }


@media screen and (max-width: 600px) {

    .mobile-icon {
        display:flex;
    }
    .header {
        .menu {
            display: none;
        }
    }

    #tab-1 {
        &:checked {
            ~.menu {
                display: block;
                
                li {
                    margin-left: 0;
                    margin-bottom: 15px;
                }

                &.extend ul {
                    position: absolute;
                    top: 75px;
                    background: #fff;
                    width: 80%;
                    left: 10%;
                    border-radius: 10px;
                    border-top-right-radius: 0;
                    border-top-left-radius: 0;

                    padding-top: 15px;
                    flex-direction: column;

                }    

                &.popup {
                    position: fixed;
                    width: 100%;
                    height: 100vh;
                    left: 0;
                    top: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                        background: #00000056;
                        width: 100%;
                        height: 100%;
                    }       

                    ul {
                        width: 80%;
                        position: relative;
                        background: #fff;
                        z-index: 2;
                        padding: 20px;
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }

    .join-form .join-form-content .content-wrap {
        flex-direction:column;

        > div:first-child::before {
            width:85%;
            border-right: 0px;
            border-bottom: 3px dashed #fff;
            right:unset;
            top:unset;
        }

        .left-side {
            width:100%;
            padding: 30px 25px;
        }
        .right-side {
            width:100%;
            margin-top:-20px;
        }
    }
}
