@import 'reset';

body {
    background-color: #4ea1ee;
    overflow: hidden;
}

.cloud {
    background-color: #FFF;
    border-radius: 200px;
    height:150px;
    width:450px;
    margin: 80px 50px;
    position:relative;


    &::after {
        content:'';
        background-color: #FFF;
        border-radius: 200px;
        height:125px;
        width:125px;
        position:absolute;
        left:80px;
        top:-60px;
    }

    &::before {
        content:'';
        background-color: #FFF;
        border-radius: 200px;
        height:200px;
        width:200px;
        position:absolute;
        right:80px;
        top:-100px;
    }

    &.c1 {
        transform:translate(40px, 6vh);
        animation-name: move-1;
        animation-duration: 2s;
        animation-delay:0s;
        animation-timing-function: ease-in-out;
        animation-iteration-count:infinite;
        animation-direction: alternate;
    }

    &.c2 {
        transform:translate(80px, 6vh) scale(0.6);
        animation-name: move-2;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count:infinite;
        animation-direction: alternate;
    }

    &.c3 {
        transform:translate(40px, 6vh) scale(0.7);
        animation-name: move-3;
        animation-duration: 7s;
        animation-timing-function: ease-in-out;
        animation-iteration-count:infinite;
        animation-direction: alternate;
    }

    &.c4 {
        transform:translate(180px, 2vh) scale(0.4);
        animation-name: move-4;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-iteration-count:infinite;
        animation-direction: alternate;
    }
}

@keyframes move-1 {
    0% {
        transform:translate(0%, 6vh);
    }
    50%{
        transform:translate(50%, 4vh);
    }
    100%{
        transform:translate(100%, 6vh);
    }
}
@keyframes move-2 {
    0% {
        transform:translate(0%, 6vh) scale(0.6);
    }
    100%{
        transform:translate(100%, 6vh) scale(0.6);
    }
}
@keyframes move-3 {
    0% {
        transform:translate(0%, 6vh) scale(0.7);
    }
    100%{
        transform:translate(100%, 6vh) scale(0.7);
    }
}
@keyframes move-4 {
    0% {
        transform:translate(0%, 2vh) scale(0.4);
    }
    100%{
        transform:translate(100%, 2vh) scale(0.4);
    }
}

