@import 'reset';


.wrap {
    margin-top: 20px;
}


.rotate{
    background : red;
    height:100px;
    width:100px;
    color:#000;
    transform: rotate(45deg);
    display:flex;
    justify-content: center;
    align-items: center;
    margin:100px;

    .rotate-text {
        font-size: 40px;
        font-weight: 800;
        transform: rotate(135deg);
    }


}

.block {
    width: 200px;
    height: 200px;
    background: #ac5a5a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-property: background hover;
    transition-duration: 2s;
    transition-delay: 1s;

    &:hover {
        background: #c5bc3a;
        font-size: 30px;
        
        
    }
}

.block-2 {
    width: 200px;
    height: 200px;
    background: #8ad12c;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    display:none;
    }