@import 'reset';


.wrap {
    margin-top: 20px;
}


.rotate{
    background : red;
    height:100px;
    width:100px;
    color:#000;
    transform: rotate(45deg);
    display:flex;
    justify-content: center;
    align-items: center;
    margin:100px;

    .rotate-text {
        font-size: 40px;
        font-weight: 800;
        transform: rotate(135deg);
    }


}

.block {
    width: 200px;
    height: 200px;
    background: #ac5a5a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-property: background hover;
    transition-duration: 2s;
    transition-delay: 0.2s;

    &:hover {
        background: #c5bc3a;
        font-size: 30px;
    }
}


.func-block {
    display:inline;

    > label {
    margin:20px; 
    height:50px;
    width:80px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#e9e9e9;
    color:#FFF;
    cursor:pointer;

    }

    & .run {
        background:#4168d3;
    }

    & .back {
        background:#c94747;
    }
}



#switch-status {


    &:checked{
        
        ~ .func-block {

            >label{
                &.run {
                    display:none;
                }

                &.back {
                    display:inline;
                }
            }

        }

    }
}

